body{
    background-color: #012733;
    height: auto;
}

header {

    height: 10vh;
    display: flex;
    padding: 0.5em 2em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 10px;
    background-color: #00202a;
}

.logo {
    width: 50px;
}

.slogan {
    font-family: sans-serif;
    font-weight: 700;
    font-size: large;
    color: #2ac60b;
}


.menu-button {
    width: 55px;
}


.menu-nav {
    position: absolute;
    /* position: sticky;  */
    top: 14vh;
    background-color: #00202a;
    height: 73vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    padding: 2em;
    border: 2px solid #001116;
    transform: translateX(-120%);
    transition: transform 0.4s cubic-bezier(0, 1.2, 0.88, 1.49);
    /* transition: transform 0.7s cubic-bezier(0, 1.2, 1, -0.11); */
}

.menu-nav > a {
    font-size: large;
    color:whitesmoke;
    margin: 5vh;
}

.is--open {
    transform: translateX(-10%);
}



body > div {
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    /* height: 20vh; */
    /* margin: 10px; */
    /* border: 2px solid green; */
    /* background-color: greenyellow; */
    
}

.ranking_pool{
    margin-right: 50vw;
    display: flex;
    flex-direction: column;
}

.fixed{
    /* background-color: greenyellow; */
    /* border: 2px solid white; */
    font-family: monospace;
    height: auto;
    position: fixed;    
    top: 50vh;
    left: 50vw;
    color: #2a5c4d;
    font-size: 50px;
}

.ranking{
    display: flex;
}

.avatar_photo{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 20px;
}

.user_info{
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    margin-top: 15px;
}

.name{
    color: whitesmoke;
    font-family: sans-serif;
    font-size: large;    
}

.rank_avatar{
    font-size: 5em;
    /* background-color: #2ac60b; */
    display: flex;
    align-items: center;
}

.red_color{
    color: red;
}

.orange_color{
    color: orangered;
}

.yellow_color{
    color:yellow;
}

.green_color{
    color:green;
}

@media screen and (max-width: 1025px){
    .menu-button {
        width: 10vw;
    }

    .slogan{
        width: 40vw;
        font-size: 3vw;
    }

    .logo {
        width: 10vw;
    }

    .menu-nav{
        transform: translateX(-150%);
    
    }
    .is--open{
        transform: translateX(-15%);
    }
    
    .ranking_pool{
        /* margin-top: 610px;
        margin-right: 0px;
        transform: scale(2); */

        margin-right: 0px;
        font-size: 2.5vh;
    }

    .name{
        font-size: 3vh;
    }

    .rank_avatar > img{
        height: 15vh;
        width: 15vh;

    }

    .fixed{
        /* top: 15vh; */
        /* left:10vw; */
        font-size:200%;
        position: inherit;
        transform: scale(2);
        padding-top: 20px;
    }
    body > div{
        flex-direction: column;
    }
    .menu-nav > a{
        margin-left: 0px;
        font-size: 4vw;
    }
    header {
        padding-left: 10px;
        padding-right: 10px;
        z-index: 1;
    }
    .slogan{
        padding-left: 10px;
    }
    
}

@media screen and (max-width: 750px){
    
    .menu-button {
        width: 15vw;
    }

    .slogan{
        width: 45vw;
        font-size: 4vw;
    }

    .logo {
        width: 15vw;
    }
    
    .menu-nav{
        transform: translateX(-150%);
    
    }

    .is--open{
        transform: translateX(-15%);
    }
    
    .ranking_pool{
        margin-top: 0px;
        margin-right: 0px;
        transform: scale(1);
    }

    .ranking{
        font-size: 2vh;
    }

    .user_info{
        font-size: 3vh;
        color: gray;
    }

    .fixed{
        /* top: 15vh; */
        /* left:10vw; */
        font-size:200%;
        position: inherit;
        transform: scale(1);
    }
    body > div{
        flex-direction: column;
    }
    .menu-nav > a{
        margin-left: 0px;
    }
    header {
        padding-left: 10px;
        padding-right: 10px;
        z-index: 1;
    }
    .slogan{
        padding-left: 10px;
    }
    
}