body {
    margin: 0;
    background-color: #d0d9db;
}

.header {
    height: 5vh;
    /* border-style: dashed; */
    border: solid;
    border-color: rgb(37, 107, 101);
    background-color: rgb(37, 107, 101);
}

.stocksdiv {
    background-color: rgb(216, 219, 221);
    display: flex;
    height: 8vh;
    border: solid;
    border-color: grey;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0;
    border-right-width: 0;
    justify-content: space-between;
    overflow: hidden;
}

.listStocks {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
}

.searchStocks {
    width: 20%;
    min-width: 4em;
    max-width: 10em;
    display: flex;
    justify-content: center;
}

.line {
    border-right: 2px solid white;
    border-left: 2px solid white;
    background-color: white;
    height: 8vh;
    width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sellbuy {
    display: flex;
    height: 14vh;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(169, 174, 177);
    text-align: center;
    z-index: 1;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.btn {
    height: 12vh;
    width: 40vw;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.8s;
    z-index: 5;
}

.buybutton {
    color: black;
    background-color: rgb(103, 221, 103);
}

.sellbutton {
    color: black;
    background-color: rgb(231, 131, 131);
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    height: 0;
    width: 40vw;
    z-index: -1;
    transition: 0.5s;
    top: 0;
    border-radius: 0 0 50% 50%;
}

.buybutton:hover,
.sellbutton:hover {
    color: white;
}

.buybutton::before {
    background-color: green;
    top: 0;
    border-radius: 0 0 50% 50%;
}

.sellbutton::before {
    background-color: red;
    top: 0;
    border-radius: 0 0 50% 50%;
}

.buybutton:hover::before,
.sellbutton:hover::before {
    height: 180%;
}

.listStocks>* {
    height: 8vh;
    line-height: 8vh;
    width: 8vh;
    margin-right: 1vh;
    margin-left: 1vh;
    background-color: #012733;
    border-radius: 50%;
    text-align: center;
    color: white;
    flex-shrink: 0;
}

.stocks:hover {
    border: 2px solid red;
}

.header button {
    height: 100%;
}

.tradesection {
    /* width: 98vw; */
    height: 85vh;
    z-index: 2;
}

.tesla {
    width: 100%;
    height: 100%;
}

.menu-button {
    height: 100%;
}

.dotsearch {
    height: 8vh;
    width: 8vh;
    margin-right: 1vh;
    margin-left: 1vh;
    background-color: #012733;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 30%;
    min-width: 255px;
    height: 50%;
}

.popupsell {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 11;
    background-color: white;
    width: 30%;
    min-width: 255px;
    height: 50%;
}

#overlay {
    transition: 200ms ease-in-out;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    z-index: 9;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
}

.popupsell.active {
    transform: translate(-50%, -50%) scale(1);
}

.popup-body {
    display: flex;
    justify-content: space-between;
    height: 30%;
}

.popup-head {
    display: flex;
    justify-content: space-between;
    height: 30%;
}

.placeorderbtn {
    height: 30%;
}

.cashavailble {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    width: 45%;
}

.amounttext {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-size: x-large;
    width: 45%;
}

.cashsum {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    width: 55%;
}

.amount {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 55%;
}

.inputamount {
    height: 20%;
    width: 60%;
}

.placeorderbtn {
    height: 80%;
    width: 80%;
    color: black;
    background-color: rgb(103, 221, 103);
    cursor: pointer;
    transition: 0.8s;
}

.selldivbutton {
    height: 80%;
    width: 80%;
    color: black;
    background-color: rgb(231, 131, 131);
    cursor: pointer;
    transition: 0.8s;
}

.buttondiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
}

.placeorderbtn:hover,
.selldivbutton:hover {
    color: white;
}

.listsellstocks {
    height: 70%;
}

.wrapp {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttondivsell {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    font-size: x-large;
    height: 80%;
    width: 100%;
}

.popupsell {
    display: flex;
    justify-content: space-around;
}

.form-options {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}