.menu-button-lines {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-button-lines>div {
    width: 30px;
    border: 2px solid black;
}

.menu-button {
    background-color: #white;
    border-radius: 10px;
}

.menu-nav {
    position: absolute;
    /* position: sticky;  */
    top: 14vh;
    background-color: rgb(37, 107, 101);
    height: 73vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    padding: 2em;
    border: 2px solid #001116;
    transform: translateX(-120%);
    transition: transform 0.4s cubic-bezier(0, 1.2, 0.88, 1.49);
    z-index: 3;
    /* transition: transform 0.7s cubic-bezier(0, 1.2, 1, -0.11); */
}

.menu-nav>a {
    font-size: 100%;
    color: whitesmoke;
    width: 15vw;
    margin: 4vh;
}

.is--open {
    transform: translateX(-10%);
}

@media screen and (max-width: 801px) {
    .menu-nav>a {
        margin-left: 0;
        width: 15vw;
        font-size: 3vw;
    }
}

@media screen and (max-width: 401px) {
    .menu-nav>a {
        margin-left: 0;
        font-size: 4vw
    }
}