body {
    background-color: #012733;
}

.chenar {
    width: 100%;
    height: 97vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 150px;
}

.slogan {
    font-family: sans-serif;
    font-weight: 700;
    font-size: large;
    color: #2ac60b;
}

.form-log-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 10px;
    align-items: center;
    height: 150px;
}

.form-buttons {
    display: flex;
    flex-direction: column;
    width: 10em;
    height: 3em;
    justify-content: space-between;
}

.filler {
    height: 10em;
}

form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 20vw;
    height: 42vh;
    border: 1px solid black;
    border-radius: 10px;
}

input {
    border-radius: 5px;
    padding: 5px 15px;
    width: 14vw;
}

@media screen and (max-width: 1025px) {
    form {
        width: 90vw;
        height: 90vh;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .form-log-info {
        font-size: 20px;
    }
    .form-buttons {
        height: 20vh;
        width: 30vw;
        align-items: center;
        justify-content: space-evenly;
    }
    button {
        height: 5vh;
        width: 20vw;
    }
    input {
        width: 30vw;
        height: 5vh;
    }
    .logo {
        width: 100px;
    }
    .chenar {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}