body {
    margin: 0;
    background-color: #012733;
}

.header {
    height: 5vh;
    /* border-style: dashed; */
    border: solid;
    border-color: white;
}

.listStocks {
    height: 8vh;
    border: solid;
    border-color: white;
}

.sellbuy {
    display: flex;
    height: 12vh;
    justify-content: space-around;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 99vh;
}

.buybutton {
    height: 100%;
    width: 40vw;
}

.sellbutton {
    height: 100%;
    width: 40vw;
}

.sellbutton:hover {
    height: 100%;
    width: 40vw;
    background-color: red;
}

.buybutton:hover {
    height: 100%;
    width: 40vw;
    background-color: green;
}

.dot {
    height: 8vh;
    width: 8vh;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.listStocks {
    display: flex;
    justify-content: space-around;
}

.header button {
    height: 100%;
}