body {
    margin: 0;
    background-color: #d0d9db;
}

.header {
    height: 5vh;
    /* border-style: dashed; */
    border: solid;
    border-color: rgb(37, 107, 101);
    background-color: rgb(37, 107, 101);
}

.Stocks {
    background-color: rgb(216, 219, 221);
    display: flex;
    height: 8vh;
    border: solid;
    border-color: grey;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0;
    border-right-width: 0;
    justify-content: space-between;
    overflow: hidden;
}

.listStocks {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
}

.searchStocks {
    width: 20%;
    min-width: 4em;
    max-width: 10em;
    display: flex;
    justify-content: center;
}

.line {
    border-right: 2px solid white;
    border-left: 2px solid white;
    background-color: white;
    height: 8vh;
    width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sellbuy {
    display: flex;
    height: 14vh;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(169, 174, 177);
    text-align: center;
    z-index: 2;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.btn {
    height: 12vh;
    width: 40vw;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.8s;
    z-index: 3;
}

.buybutton {
    color: black;
    background-color: rgb(103, 221, 103);
}

.sellbutton {
    color: black;
    background-color: rgb(231, 131, 131);
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    height: 0;
    width: 40vw;
    z-index: -1;
    transition: 0.5s;
    top: 0;
    border-radius: 0 0 50% 50%;
}

.buybutton:hover,
.sellbutton:hover {
    color: white;
}

.buybutton::before {
    background-color: green;
    top: 0;
    border-radius: 0 0 50% 50%;
}

.sellbutton::before {
    background-color: red;
    top: 0;
    border-radius: 0 0 50% 50%;
}

.buybutton:hover::before,
.sellbutton:hover::before {
    height: 180%;
}

.dot {
    height: 8vh;
    line-height: 8vh;
    width: 8vh;
    margin-right: 1vh;
    margin-left: 1vh;
    background-color: #012733;
    border-radius: 50%;
    text-align: center;
    color: white;
    flex-shrink: 0;
}

.header button {
    height: 100%;
}

.tradesection {
    /* width: 98vw; */
    height: 73vh;
}

.tesla {
    width: 100%;
    height: 100%;
}

.menu-button {
    height: 100%;
}

.dotsearch {
    height: 8vh;
    width: 8vh;
    margin-right: 1vh;
    margin-left: 1vh;
    background-color: #012733;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbutton {}